ul, li {
    list-style: none;
}

.clearfloat::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

.person-register-wrap {
    background-image: url(/content/images/registion/person-register-bj.png);
    background-repeat: no-repeat;
    background-position: center 130px;
    background-color: #263044;
    padding-top: 130px;
    margin-top: -130px;
    min-height: 100vh;
}

.person-register {
    width: 1220px;
    margin: 0 auto;
    padding: 0 320px 80px;
    color: white;
}

.person-register-logo {
    width: 146px;
    height: 131px;
    margin: 70px auto 0;
    background-image: url(/content/images/registion/person-register-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.person-register-title {
    height: 44px;
    margin-top: 24px;
    background-image: url(/content/images/registion/person-register.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.pr-title-line {
    width: 138px;
    height: 2px;
    background-color: #b8c5e2;
    float: left;
    margin-top: 21px;
}

.person-register-warn {
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    color: #afa503;
    font-weight: 700;
}

.person-register-form {
    padding-top: 70px;
    font-size: 16px;
}

.person-register-form > div {
    padding-bottom: 40px;
    line-height: 44px;
}

.person-register-form .person-register-city {
    padding-bottom: 40px;
}

.person-register-form .person-register-adress {
    padding-bottom: 40px;
    line-height: 76px;
}

.person-register-adress .person-register-Info {
    height: 76px;
    display: table
}

.person-register-qq .person-register-Info{
    height: 44px;
    line-height: 44px;
    padding: 0;
    padding-left: 20px;
}

.pr-address {
    display: table-cell;
    vertical-align:middle;
}

.input-wrap {
    width: 436px;
    float: right;
    position: relative;
}

.person-register-input-warn {
    font-size: 16px;
    color: #c80000;
    position: absolute;
    top: 40px;
    left: 0;
}

.input {
    width: 436px;
    height: 44px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);;
    color: white;
}

.person-register-select {
    width: 436px;
    height: 46px;
    float: right;
    position: relative;
}

.select-btn {
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.person-register-select > ul {
    width: 100%;
    height: 300px;
    overflow: scroll;
    float: right;
    background-color: #263044;
    position: relative;
    z-index: 999;
}

.person-register-select > ul > li {
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.person-register-select > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.person-register-Info {
    width: 436px;
    line-height: 26px;
    float: right;
    padding: 8px 20px;
    background-color: #565f6d;
}

/*.person-register-phone .person-register-Info {
    background-color: #7b90c2;
    color: #21293c;
    border: 1px solid #06d3e3;
}*/

.person-register-form .person-register-btn {
    width: 100%;
    height: 43px;
    display: block;
    line-height: 43px;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 2px;
    background-color: #9c9300;
    cursor: pointer;
    outline: none;
    border: 1px solid #eadc07;
}

.person-register-ad {
    display: block;
    height: 109px;
    background-color: white;
    background-image: url(/content/images/registion/ad2.png);
}

.person-register-btn-warn {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #c80000;
    position: absolute;
    top: 40px;
    left: 0;
}

.person-register-form .person-register-btn-wrapper {
    position: relative;
    padding-bottom: 85px;
}
